<app-navi></app-navi>
<div class="flex flex-row justify-center">
  <div class="basis-1/5 m-2 hidden lg:block md:block "><app-brand></app-brand></div>
    <div class="basis-2/4 m-2"><app-car></app-car></div>
</div>
<div class="flex flex-row justify-center">
  <div class="basis-1/5 m-2 hidden lg:block md:block "><app-color></app-color></div>
    <div class="basis-2/4 m-2"><app-rental></app-rental></div>
</div>
<div class="flex flex-row justify-center">
    <div class="basis-2/4 m-2"><app-customer></app-customer></div>
</div>
<app-footer></app-footer>
